#pixelPainter {
    height: fit-content;
    justify-content: center;
    -ms-touch-action: none;
    /* align-items: center; */

}

#currentColor {
    color: black;
    border: 'thin solid black';
    
}

h1 {
    color:white;
    align-content: center;
    text-align: center;
}

body {
    background-image: url('../background.png');
    background-color: aquamarine;

}

div {
    display: flex;
    align-content: right;

    /* max-width: 400px; */
}

#paletteContainer {
    display: flex;
    flex-direction: column;

    background-image: url('../wood.jpg');
    background-color: chocolate;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin-top:2px;
    margin-bottom: 2px;
    margin-left: 25px;
    width: 175px;
}

table {
    display: flex;
    flex-flow: column nowrap;
    border: thin solid black;
    border-collapse: collapse;
}




